// Fonts
$font-family-body = "Raleway" //"Meslo LG"
$font-family-body = "Roboto" //"Meslo LG"
$font-family-mono = "Menlo", "Meslo LG", monospace
$font-family-tt = "Inconsolata", monospace
$font-size = 15px
$line-height = 1.725

// Colors
$color-background = #111
$color-link = #00d4d4
$color-text = #fff
$color-light = #ddd
$color-lightest = #fff
$color-accent = #00d4d4
$color-grey = #bbb
$ease-in-sine = cubic-bezier(0.47, 0, 0.745, 0.715)

// Logo
$logo-url = hexo-config("customize.logo.url")
logo-width = 0px + hexo-config("customize.logo.width")
logo-height = 0px + hexo-config("customize.logo.height")
